/** @format */

.editor {
  align-items: center;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  padding: 2rem;
  width: 100%;

  table,
  td {
    border: 1px solid black;
  }

  code {
    font-size: 95%;
  }

  .page {
    background: white;
    font-family: "Inter";
    height: 297mm;
    margin: 2rem;
    overflow: hidden;
    padding: 2.5cm;
    width: 210mm;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
