/** @format */

.editor {
  padding: 0.5rem;
  white-space: pre-wrap;

  table,
  td {
    border: 1px solid black;
  }

  code {
    font-size: 95%;
  }

  .page {
    background: white;
    height: 170mm;
    overflow: hidden;
    padding: 1cm;
    width: 140mm;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
